USE [master]
GO
/****** Object:  Database [FXPROInsight]    Script Date: 8/25/2026 9:37:59 PM ******/
CREATE DATABASE [FXPROInsight]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FXPROInsight].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FXPROInsight]
GO
/****** Object:  Table [dbo].[tblMastUser]    Script Date: 8/25/2026 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMastUser](
	[Username] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[Password] [nvarchar](200) NULL,
	[Email] [nvarchar](150) NULL,
	[Phone] [varchar](20) NULL,
	[Authorized] [bit] NULL,
	[Admin] [bit] NULL,
	[CreatedTime] [datetime] NULL,
	[LastUpdatePW] [datetime] NULL,
	[IsNewUser] [bit] NULL,
	[VPN_UserName] [nvarchar](100) NULL,
	[VPN_DomainName] [nvarchar](100) NULL,
	[DefaultCompanyID] [nvarchar](5) NULL,
	[RefreshToken] [nvarchar](100) NULL,
	[RefreshTokenExpiryTime] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblMastUser] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblModuleMaster]    Script Date: 8/25/2026 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblModuleMaster](
	[ModuleMasterID] [nvarchar](5) NOT NULL,
	[ModuleMasterName] [nvarchar](50) NOT NULL,
	[ActiveFlag] [bit] NOT NULL,
 CONSTRAINT [PK_tblModuleMaster] PRIMARY KEY CLUSTERED 
(
	[ModuleMasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblModuleSubMaster]    Script Date: 8/25/2026 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblModuleSubMaster](
	[ModuleMasterID] [nvarchar](5) NOT NULL,
	[ModuleMasterSubID] [int] NOT NULL,
	[ModuleMasterName] [nvarchar](50) NOT NULL,
	[ActiveFlag] [bit] NOT NULL,
 CONSTRAINT [PK_tblModuleSubMaster] PRIMARY KEY CLUSTERED 
(
	[ModuleMasterID] ASC,
	[ModuleMasterSubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblMastUser] ([Username], [FullName], [Password], [Email], [Phone], [Authorized], [Admin], [CreatedTime], [LastUpdatePW], [IsNewUser], [VPN_UserName], [VPN_DomainName], [DefaultCompanyID], [RefreshToken], [RefreshTokenExpiryTime]) VALUES (N'Administrator', N'Administrator', N'$2a$11$sLrppITlNRY5wsAAoY7ZXO2KLDcvczG1Mlkam17kSVntXeBZBUpYi', N'test@lnt-soft.vn', N'', 1, 1, NULL, CAST(N'2026-07-01T16:14:13.957' AS DateTime), 0, N'lasantha.admin', N'lntsoft', N'COM01', N'XUwWSQtunsVbUwd4QV1/ZUXq9Ja+cIMTozPn4YKVwdgYczq7xJN87GaMmuWCSX/CwvwyLPJqfT7EikIqzy5Pwg==', N'8/25/2026 9:55:42 AM')
INSERT [dbo].[tblMastUser] ([Username], [FullName], [Password], [Email], [Phone], [Authorized], [Admin], [CreatedTime], [LastUpdatePW], [IsNewUser], [VPN_UserName], [VPN_DomainName], [DefaultCompanyID], [RefreshToken], [RefreshTokenExpiryTime]) VALUES (N'LNTSOFT1', N'LNTSOFT1', N'$2a$11$0uvxAL61.Vi9QtErx3V5nOUk6x2Ngmu9g6f7GFNOJeB1hmevFWPJm', N'', N'', NULL, NULL, NULL, NULL, 0, NULL, NULL, N'COM01', N'nTl/yu7Y7UhjsoS4WpgjMbUywt/DYXslr0QRdbWZxK14vg38F743MLep/+n/s1uBdTrZhChQ7xOJMM7xctgg/A==', N'8/26/2026 8:49:53 AM')
INSERT [dbo].[tblMastUser] ([Username], [FullName], [Password], [Email], [Phone], [Authorized], [Admin], [CreatedTime], [LastUpdatePW], [IsNewUser], [VPN_UserName], [VPN_DomainName], [DefaultCompanyID], [RefreshToken], [RefreshTokenExpiryTime]) VALUES (N'LNTSOFT2', N'LNTSOFT2 Name', N'$2a$11$jBEJSQkYRQNIEzTUwnXNUOeRziukRtpc7gWEsoy7q.7VLl8HtBEs6', N'124', N'5555', 1, NULL, NULL, NULL, 0, NULL, NULL, N'COM01', N'AZ0o/xU7rJU596ClxDnDA2XitEAFvDzbMg6HGrzh3BxMpdD3k2jM9x3o1P1j54bInjYz23rRKVnO7PE6ioxfAg==', N'8/14/2026 9:21:34 AM')
GO
INSERT [dbo].[tblModuleMaster] ([ModuleMasterID], [ModuleMasterName], [ActiveFlag]) VALUES (N'MD001', N'Executive Dashboard', 1)
INSERT [dbo].[tblModuleMaster] ([ModuleMasterID], [ModuleMasterName], [ActiveFlag]) VALUES (N'MD002', N'Management Dashboard', 1)
INSERT [dbo].[tblModuleMaster] ([ModuleMasterID], [ModuleMasterName], [ActiveFlag]) VALUES (N'MD003', N'Operational Dashboard', 1)
GO
INSERT [dbo].[tblModuleSubMaster] ([ModuleMasterID], [ModuleMasterSubID], [ModuleMasterName], [ActiveFlag]) VALUES (N'MD003', 1, N'Overall Sewing Analsysis ', 1)
INSERT [dbo].[tblModuleSubMaster] ([ModuleMasterID], [ModuleMasterSubID], [ModuleMasterName], [ActiveFlag]) VALUES (N'MD003', 2, N'Sewing Team Performance', 1)
GO
ALTER TABLE [dbo].[tblMastUser] ADD  CONSTRAINT [DF_tblMastUser_IsNewUser]  DEFAULT ((1)) FOR [IsNewUser]
GO
/****** Object:  StoredProcedure [dbo].[USP_Auth_GetUserByUsername]    Script Date: 8/25/2026 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Find user by Username
CREATE   PROCEDURE [dbo].[USP_Auth_GetUserByUsername]
    @Username NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Username, FullName, [Password], Email, Phone, Authorized, Admin, DefaultCompanyID, CreatedTime, LastUpdatePW, IsNewUser, VPN_UserName, VPN_DomainName, RefreshToken, RefreshTokenExpiryTime
    FROM tblMastUser
    WHERE Username = @Username;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_Auth_UpdateRefreshToken]    Script Date: 8/25/2026 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. Update refresh Token:
CREATE   PROCEDURE [dbo].[USP_Auth_UpdateRefreshToken]
    @Username NVARCHAR(20),
    @RefreshToken NVARCHAR(100),
    @RefreshTokenExpiryTime NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE tblMastUser 
    SET RefreshToken = @RefreshToken, 
        RefreshTokenExpiryTime = @RefreshTokenExpiryTime
    WHERE Username = @Username;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_Dashboard_SewingTeamOutputAnalysis_GetData]    Script Date: 8/25/2026 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Creator: Nguyen Son Tung
CREATE procEDURE [dbo].[USP_Dashboard_SewingTeamOutputAnalysis_GetData]
	@CompanyID as nvarchar(10),		
	@SiteID nvarchar(10)=null,	
	@TeamID as int=0,
	@Date as date=null,
	@ShiftWorkID int
AS
BEGIN
	declare @tblReturn as table (
	ShiftHourID nvarchar(10),
	ShiftHourWithTime nvarchar(100),
	OutputQty int,
	HourlyPlan int,
	Achievement numeric(18,4),
	RunningOutput int,
	OutputVariance int)


	insert @tblReturn
	exec [lntdev-db01].[FXPRO].[dbo].[USP_Dashboard_SewingTeamOutputAnalysis_GetData_WithoutOrder] @CompanyID,@SiteID,@TeamID,@Date,@ShiftWorkID

	select *
	from	@tblReturn a
end
GO
/****** Object:  StoredProcedure [dbo].[USP_Dashboard_WorkShift_GetList]    Script Date: 8/25/2026 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Creator: Nguyen Son Tung
CREATE  procEDURE [dbo].[USP_Dashboard_WorkShift_GetList]
@CompanyID as nvarchar(10),
@SiteID as nvarchar(10),
@WorkDate as date = null,
@SectionID int =0
as
begin
		declare @tblReturn as table (
		ShiftWorkID int,
		ShiftWorkName nvarchar(50),
		ShiftWorkStartTime nvarchar(100),
		ShiftWorkCompleteTime nvarchar(100),
		ShiftWorkNameWithTime nvarchar(200))
		
		insert @tblReturn
		exec [lntdev-db01].[FXPRO].[dbo].[USP_PROD_SewingStation_WorkShift_GetList] @CompanyID,@SiteID,@WorkDate,@SectionID

		select  a.ShiftWorkID,a.ShiftWorkName,a.ShiftWorkStartTime,a.ShiftWorkCompleteTime,a.ShiftWorkNameWithTime
		from	@tblReturn a

end
GO
/****** Object:  StoredProcedure [dbo].[USP_MD_GetModules]    Script Date: 8/25/2026 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[USP_MD_GetModules]
AS
Begin
	Select * from [dbo].[tblModuleMaster]
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_MD_GetModuleSubMaster]    Script Date: 8/25/2026 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   procedure [dbo].[USP_MD_GetModuleSubMaster]
AS
Begin
	Select * from [dbo].[tblModuleSubMaster]
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_MD_GetSubModule]    Script Date: 8/25/2026 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[USP_MD_GetSubModule]
@ModuleMasterID nvarchar(5)
AS
Begin
	Select ModuleMasterSubID, ModuleMasterName, ModuleMasterID
	From [dbo].[tblModuleSubMaster]
	Where ModuleMasterID = @ModuleMasterID
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_MD_GetUsers]    Script Date: 8/25/2026 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[USP_MD_GetUsers]
AS
Begin
	Select * from [dbo].[tblMastUser]
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_ProductionVsPlan]    Script Date: 8/25/2026 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Creator: Nguyen Son Tung
CREATE proc [dbo].[USP_ProductionVsPlan]
@CompanyID nvarchar(5),
@SiteID nvarchar(10),
@SectionID int=0,
@Date date=null
as
begin

	declare @tblReturn as table (TeamID int,
	TeamNo nvarchar(50),
	TeamName nvarchar(50),
	DayOutput int,
	DayTarget int)

	insert @tblReturn
	exec [lntdev-db01].[FXPRO].[dbo].[USP_production_vs_Plan] @CompanyID,@SiteID,@SectionID,@Date

	select *
	from	@tblReturn a

end
GO
USE [master]
GO
