USE [master]
GO
/****** Object:  Database [FXPROInsight]    Script Date: 9/21/2026 6:23:57 PM ******/
CREATE DATABASE [FXPROInsight]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FXPROInsight', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FXPROInsight.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FXPROInsight_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FXPROInsight_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FXPROInsight].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FXPROInsight]
GO
/****** Object:  Table [dbo].[tblFXPROInsightUsers]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFXPROInsightUsers](
	[UserID] [nvarchar](20) NOT NULL,
	[ActiveFlag] [bit] NOT NULL,
	[AdminUser] [bit] NOT NULL,
	[RefreshToken] [varchar](100) NULL,
	[RefreshTokenExpiryTime] [varchar](100) NULL,
 CONSTRAINT [PK_tblFXPROInsightUsers] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMastUser]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMastUser](
	[UserID] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[Password] [nvarchar](200) NULL,
	[Email] [nvarchar](150) NULL,
	[Phone] [varchar](20) NULL,
	[Avatar] [nvarchar](250) NULL,
	[Signature] [binary](500) NULL,
	[Checked] [bit] NULL,
	[Authorized] [bit] NULL,
	[Admin] [bit] NULL,
	[CompanyID] [nvarchar](5) NULL,
	[SetByUser] [nvarchar](100) NULL,
	[CreatedTime] [datetime] NULL,
	[LastUpdatePW] [datetime] NULL,
	[IsNewUser] [bit] NULL,
	[VPN_UserName] [nvarchar](100) NULL,
	[VPN_DomainName] [nvarchar](100) NULL,
	[DefaultCompanyID] [nvarchar](5) NULL,
 CONSTRAINT [PK_tblMastUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMastUserCompany]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMastUserCompany](
	[UserID] [nvarchar](20) NOT NULL,
	[CompanyID] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_tblMastUserCompany] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblModuleMaster]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblModuleMaster](
	[ModuleMasterID] [nvarchar](5) NOT NULL,
	[ModuleMasterName] [nvarchar](50) NOT NULL,
	[ActiveFlag] [bit] NOT NULL,
 CONSTRAINT [PK_tblModuleMaster] PRIMARY KEY CLUSTERED 
(
	[ModuleMasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblModuleSubMaster]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblModuleSubMaster](
	[ModuleMasterID] [nvarchar](5) NOT NULL,
	[ModuleMasterSubID] [int] NOT NULL,
	[ModuleMasterName] [nvarchar](50) NOT NULL,
	[ActiveFlag] [bit] NOT NULL,
 CONSTRAINT [PK_tblModuleSubMaster] PRIMARY KEY CLUSTERED 
(
	[ModuleMasterID] ASC,
	[ModuleMasterSubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblFXPROInsightUsers] ([UserID], [ActiveFlag], [AdminUser], [RefreshToken], [RefreshTokenExpiryTime]) VALUES (N'Administrator', 1, 1, NULL, NULL)
INSERT [dbo].[tblFXPROInsightUsers] ([UserID], [ActiveFlag], [AdminUser], [RefreshToken], [RefreshTokenExpiryTime]) VALUES (N'LNTSOFT1', 1, 1, N'eR49MgbFNb3ifm4nnBwxw7Uzu7HugF3W6W23/kUbW3tlng40XjlHH56cZHPTRG3cpgSYx0OjmdZjCszFFPK+BA==', N'9/22/2026 11:20:06 AM')
INSERT [dbo].[tblFXPROInsightUsers] ([UserID], [ActiveFlag], [AdminUser], [RefreshToken], [RefreshTokenExpiryTime]) VALUES (N'LNTSOFT2', 1, 0, NULL, NULL)
GO
INSERT [dbo].[tblMastUser] ([UserID], [FullName], [Password], [Email], [Phone], [Avatar], [Signature], [Checked], [Authorized], [Admin], [CompanyID], [SetByUser], [CreatedTime], [LastUpdatePW], [IsNewUser], [VPN_UserName], [VPN_DomainName], [DefaultCompanyID]) VALUES (N'1', N'1', N'4NQPnM7vkSQwu0BydM3d0aW8LeX7mlWb6Prw1/XbmRn77RJ5aPGejn914TvKq6G+niLeqHQ7MgKCq6PbCSGQ9w==', N'1', N'1', NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2023-07-18T15:49:48.270' AS DateTime), NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[tblMastUser] ([UserID], [FullName], [Password], [Email], [Phone], [Avatar], [Signature], [Checked], [Authorized], [Admin], [CompanyID], [SetByUser], [CreatedTime], [LastUpdatePW], [IsNewUser], [VPN_UserName], [VPN_DomainName], [DefaultCompanyID]) VALUES (N'1234', N'1234 Name', N'6a8BqgMwIqUPy58DEVToiQu+8yCl+zJevGjlGmFwfsFV7n1eIm0PNGOXWOJzrkiAblCCACYBwEB/ynh0bzxs0Q==', N'1234', N'1234', NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2023-07-18T15:48:11.997' AS DateTime), NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[tblMastUser] ([UserID], [FullName], [Password], [Email], [Phone], [Avatar], [Signature], [Checked], [Authorized], [Admin], [CompanyID], [SetByUser], [CreatedTime], [LastUpdatePW], [IsNewUser], [VPN_UserName], [VPN_DomainName], [DefaultCompanyID]) VALUES (N'Administrator', N'Administrator', N'BXSfhqAaPqbFyBqveRTfNoSe68YFldoI/WmQQQRks8tW/sczs3Qa+P1uYN1ZpJ8f4EZr7tzEwmLLlyWjP/Al4Q==', N'test@lnt-soft.vn', N'', NULL, NULL, NULL, 1, 1, N'COM01', NULL, NULL, CAST(N'2026-07-15T16:34:14.727' AS DateTime), 0, N'lasantha.admin', N'lntsoft', N'COM01')
GO
INSERT [dbo].[tblMastUserCompany] ([UserID], [CompanyID]) VALUES (N'1', N'COM02')
INSERT [dbo].[tblMastUserCompany] ([UserID], [CompanyID]) VALUES (N'1234', N'COM01')
INSERT [dbo].[tblMastUserCompany] ([UserID], [CompanyID]) VALUES (N'1234', N'COM03')
GO
INSERT [dbo].[tblModuleMaster] ([ModuleMasterID], [ModuleMasterName], [ActiveFlag]) VALUES (N'MD001', N'Executive Dashboard', 1)
INSERT [dbo].[tblModuleMaster] ([ModuleMasterID], [ModuleMasterName], [ActiveFlag]) VALUES (N'MD002', N'Management Dashboard', 1)
INSERT [dbo].[tblModuleMaster] ([ModuleMasterID], [ModuleMasterName], [ActiveFlag]) VALUES (N'MD003', N'Operational Dashboard', 1)
GO
INSERT [dbo].[tblModuleSubMaster] ([ModuleMasterID], [ModuleMasterSubID], [ModuleMasterName], [ActiveFlag]) VALUES (N'MD003', 1, N'Overall Sewing Analsysis ', 1)
INSERT [dbo].[tblModuleSubMaster] ([ModuleMasterID], [ModuleMasterSubID], [ModuleMasterName], [ActiveFlag]) VALUES (N'MD003', 2, N'Sewing Team Performance', 1)
GO
/****** Object:  StoredProcedure [dbo].[USP_Auth_GetUserByUsername]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Find user by Username
CREATE   PROCEDURE [dbo].[USP_Auth_GetUserByUsername]
    @Username NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Username, FullName, [Password], Email, Phone, Authorized, Admin, DefaultCompanyID, CreatedTime, LastUpdatePW, IsNewUser, VPN_UserName, VPN_DomainName, RefreshToken, RefreshTokenExpiryTime
    FROM tblMastUser
    WHERE Username = @Username;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_Auth_UpdateRefreshToken]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. Update refresh Token:
CREATE   PROCEDURE [dbo].[USP_Auth_UpdateRefreshToken]
    @Username NVARCHAR(20),
    @RefreshToken NVARCHAR(100),
    @RefreshTokenExpiryTime NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE tblMastUser 
    SET RefreshToken = @RefreshToken, 
        RefreshTokenExpiryTime = @RefreshTokenExpiryTime
    WHERE Username = @Username;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_Dashboard_SewingTeamOutputAnalysis_GetData]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Creator: Nguyen Son Tung
CREATE procEDURE [dbo].[USP_Dashboard_SewingTeamOutputAnalysis_GetData]
	@CompanyID as nvarchar(10),		
	@SiteID nvarchar(10)=null,	
	@TeamID as int=0,
	@Date as date=null,
	@ShiftWorkID int
AS
BEGIN
	declare @tblReturn as table (
	ShiftHourID nvarchar(10),
	ShiftHourWithTime nvarchar(100),
	OutputQty int,
	HourlyPlan int,
	Achievement numeric(18,4),
	RunningOutput int,
	OutputVariance int)


	insert @tblReturn
	exec [lntdev-db01].[FXPRO].[dbo].[USP_Dashboard_SewingTeamOutputAnalysis_GetData_WithoutOrder] @CompanyID,@SiteID,@TeamID,@Date,@ShiftWorkID

	select *
	from	@tblReturn a
end
GO
/****** Object:  StoredProcedure [dbo].[USP_Dashboard_WorkShift_GetList]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Creator: Nguyen Son Tung
CREATE  procEDURE [dbo].[USP_Dashboard_WorkShift_GetList]
@CompanyID as nvarchar(10),
@SiteID as nvarchar(10),
@WorkDate as date = null,
@SectionID int =0
as
begin
		declare @tblReturn as table (
		ShiftWorkID int,
		ShiftWorkName nvarchar(50),
		ShiftWorkStartTime nvarchar(100),
		ShiftWorkCompleteTime nvarchar(100),
		ShiftWorkNameWithTime nvarchar(200))
		
		insert @tblReturn
		exec [lntdev-db01].[FXPRO].[dbo].[USP_PROD_SewingStation_WorkShift_GetList] @CompanyID,@SiteID,@WorkDate,@SectionID

		select  a.ShiftWorkID,a.ShiftWorkName,a.ShiftWorkStartTime,a.ShiftWorkCompleteTime,a.ShiftWorkNameWithTime
		from	@tblReturn a

end
GO
/****** Object:  StoredProcedure [dbo].[USP_FXPRO_Insight_CheckUser]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create by Do Tien Luong
-- Create procedure for check user available:
create   procedure [dbo].[USP_FXPRO_Insight_CheckUser]
@UserID nvarchar(50)
AS
Begin
	SELECT u.*, p.[Password] FROM [dbo].[tblFXPROInsightUsers] u INNER JOIN [dbo].[tblMastUser] p ON u.UserID = p.UserID
	WHERE u.UserID = @UserID
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_FXPRO_Insight_GetInfoAllUser]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create by Do Tien Luong
-- Create procedure for get all info of list user:
create   procedure [dbo].[USP_FXPRO_Insight_GetInfoAllUser]
as
begin
select UserID, FullName, [Password], Email, Phone, Avatar, Signature, Checked, Authorized, Admin, CompanyID, SetByUser, CreatedTime, LastUpdatePW, IsNewUser, VPN_UserName, VPN_DomainName, DefaultCompanyID
from [dbo].[tblMastUser]
end;
GO
/****** Object:  StoredProcedure [dbo].[USP_FXPRO_Insight_GetInfoUser]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create by Do Tien Luong
-- Create procedure for get all info of 1 user:
create   procedure [dbo].[USP_FXPRO_Insight_GetInfoUser]
@UserID nvarchar(20)
as
begin
select UserID, FullName, [Password], Email, Phone, Avatar, Signature, Checked, Authorized, Admin, CompanyID, SetByUser, CreatedTime, LastUpdatePW, IsNewUser, VPN_UserName, VPN_DomainName, DefaultCompanyID
from [dbo].[tblMastUser]
where UserID = @UserID
end;
GO
/****** Object:  StoredProcedure [dbo].[USP_FXPRO_Insight_GetMastUserCompany]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create by Do Tien Luong
-- Create procedure for check list company of user:
CREATE   PROCEDURE [dbo].[USP_FXPRO_Insight_GetMastUserCompany]
@UserID nvarchar(10)
AS
Begin 
	SELECT * from [dbo].[tblMastUserCompany] where UserID = @UserID
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_FXPRO_Insight_GetModules]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_FXPRO_Insight_GetModules]
AS
Begin
	Select * from .[dbo].[tblModuleMaster]
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_FXPRO_Insight_GetSubModules]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create by Do Tien Luong
-- Create procedure for get list submodule of module:
CREATE   PROCEDURE [dbo].[USP_FXPRO_Insight_GetSubModules]
@ModuleMasterID nvarchar(5)
AS
Begin
	Select * from [dbo].[tblModuleSubMaster] WHERE ModuleMasterID = @ModuleMasterID
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_FXPRO_Insight_GetUsers]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_FXPRO_Insight_GetUsers]
as 
begin 
	select * from [dbo].[tblMastUser]
end;
GO
/****** Object:  StoredProcedure [dbo].[USP_FXPRO_Insight_SaveRefreshToken]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create by Do Tien Luong
-- Create procedure for save refreshToken for auth:
create   procedure [dbo].[USP_FXPRO_Insight_SaveRefreshToken]
@UserID nvarchar(20), @RefreshToken nvarchar(100), @RefreshTokenExpiryTime nvarchar(50)
AS
Begin
	SET NOCOUNT ON
	UPDATE [dbo].[tblFXPROInsightUsers]
	SET RefreshToken = @RefreshToken, RefreshTokenExpiryTime = @RefreshTokenExpiryTime
	WHERE UserID = @UserID
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_MD_GetModules]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[USP_MD_GetModules]
AS
Begin
	Select * from [dbo].[tblModuleMaster]
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_MD_GetModuleSubMaster]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   procedure [dbo].[USP_MD_GetModuleSubMaster]
AS
Begin
	Select * from [dbo].[tblModuleSubMaster]
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_MD_GetSubModule]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[USP_MD_GetSubModule]
@ModuleMasterID nvarchar(5)
AS
Begin
	Select ModuleMasterSubID, ModuleMasterName, ModuleMasterID
	From [dbo].[tblModuleSubMaster]
	Where ModuleMasterID = @ModuleMasterID
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_MD_GetUsers]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[USP_MD_GetUsers]
AS
Begin
	Select * from [dbo].[tblMastUser]
End;
GO
/****** Object:  StoredProcedure [dbo].[USP_ProductionVsPlan]    Script Date: 9/21/2026 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Creator: Nguyen Son Tung
CREATE proc [dbo].[USP_ProductionVsPlan]
@CompanyID nvarchar(5),
@SiteID nvarchar(10),
@SectionID int=0,
@Date date=null
as
begin

	declare @tblReturn as table (TeamID int,
	TeamNo nvarchar(50),
	TeamName nvarchar(50),
	DayOutput int,
	DayTarget int)

	insert @tblReturn
	exec [lntdev-db01].[FXPRO].[dbo].[USP_production_vs_Plan] @CompanyID,@SiteID,@SectionID,@Date

	select *
	from	@tblReturn a

end
GO
USE [master]
GO
